boto3==1.13.19
cryptography==37.0.2
pandas==1.1.2
numpy==1.18.4
toolz==0.9.0
jinja2==3.1.2
click==7.1.2
docker==4.2.0
markupsafe==2.0.1
apache-airflow-backport-providers-amazon==2020.6.24
wtforms==2.3.3
SQLAlchemy==1.3.23
Flask-SQLAlchemy==2.4.4
